* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.side-bar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background-color: #87CEEB;
  float: left;
  list-style: none;
}

.side-bar li {
  font-family: cursive;
  margin: 20px;
  list-style: none;
}

.side-bar a{
  text-decoration: none;  
}

.content {
  width: 80%;
  height: 100vh;
  float: right;
  background-color: #B0E0E6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content iframe {
  width: 50%;
  height: 50%;
}